# Core Dagster packages
dagster==1.7.2
dagit==1.7.2
dagster-postgres==0.23.2

# Data processing
pandas==1.5.3
pyarrow==16.0.0

# Storage
minio==7.2.5

# Database connectors
pymysql
psycopg2-binary==2.9.9

# Security
cryptography==42.0.5

# Testing
pytest

dbt-core==1.5
dbt-postgres==1.5
pytz==2022.7.1

#streamlit

#eda
matplotlib
seaborn

pyspark==3.3.2

